.register-container {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.register-card {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  background-color: #ffffff;
}

.register-card input:focus {
  box-shadow: 0 0 5px rgba(0, 162, 255, 0.8);
  border-color: #4facfe;
}

.btn-primary {
  background-color: #4facfe;
  border: none;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #3190f5;
}

@media (max-width: 576px) {
  .register-card {
    margin: 20px;
    padding: 20px;
  }
}
